@keyframes typing {
    0% { content: "/"; }
    13% { content: "/進行"; }
    26% { content: "/con中"; }
    39% { content: "/content"; }
    52% { content: "/content の"; }
    65% { content: "/content in コン"; }
    78% { content: "/content in progテ"; }
    91% { content: "/content in progreンツ.."; }
		100% { content: "/content in progress..."; }

}

.typewriter {
--caret: currentcolor;
font-size: 30px;
}

.typewriter::before {
content: "";
animation: typing 2s forwards;
}

.typewriter::after {
content: "";
border-right: 1px solid var(--caret);
}

.typewriter.thick::after {
border-right: 1ch solid var(--caret);
}